@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box;
}
html{
    height: 100%;
    font-family: 'Lato', sans-serif;
}
body{
    min-height: 100%;
    background-color: #eee;
    font-size: 18px;
    
}
.grid-container{
    background: #fff;
    margin: 0px 40px 0px;
    margin-top: 50px;
    padding: 40px;
}

.header{
    margin-bottom: 5px;
    font-size: 48px;
}
.first{
    font-weight: bolder;
    float: left;
    margin-right: 10px;
}
.second{
 font-weight: 100px;
 color: rgba(32, 31, 31, 0.748);
    
}
.contact{
    margin-bottom: 30px;
    
}
.email ,
  .phone {
    color: rgba(153, 153, 153, 0.751);
    font-weight: 300;
  } 
  .email-address, .phone-num{
      color:rgba(32, 31, 31, 0.748);
  }
  .separator {
    height: 10px;
    display: inline-block;
    border-left: 2px solid #999;
    margin: 0px 10px;
  }
  .objective{
      margin-bottom: 40px;
      line-height: 40px;
  }
  .job-title{
      text-decoration: underline;
      font-weight: bolder;
      margin-right: 15px;
  }
  .title{
      color: rgb(29, 183, 234);
      letter-spacing: .2rem;
      font-weight: bold;
      margin-bottom: 20px; 
  }
  
  .desc{
      color: rgba(32, 31, 31, 0.748);
  }
  .address, .duration{
      color: rgba(32, 31, 31, 0.748);
  }
  .experience{
      line-height: 25px;
  }
  .left, .right{
      vertical-align: top;
      display: inline-block;
      margin-bottom: 50px;
  }
  .left{
      width: 60%;
  }
  .right{
      text-align: right;
      width: 20%;
  }
  .text{
      margin-bottom: 50px;
      line-height: 30px;
       color: rgba(32, 31, 31, 0.748);
  }
  input{
      display: none;
  }
  label {
      display: inline-block;  
      width: 20px;
      height: 20px;
      background: #C3DEF3;
      border-radius: 20px;
      margin-right: 3px;
    }
    input:checked + label {
      background: #79A9CE;
    }
    .side1, .side2{
      vertical-align: top;
      display: inline-block;
      margin-bottom: 20px;
  }
  .side1{
      width: 60%;
  }
  .side2{
      text-align: right;
      width: 20%;
  }
  .interests{
      margin-top: 40px;
  }